@model ReverseSpectre.Models.LoanApplication

@{
    ViewBag.Title = "Loan Application";
}

<h3>Loan Application</h3>

@Html.ActionLink("Details", "LoanApplication", new { id = Model.LoanApplicationId })


